header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgb(204, 143, 50);
}

header img{
    max-width: 80px;
}

header ul{
    display: flex;
    gap: 1em;
}